.header {
    width: 1024px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: start;
    align-content: end;
    text-align: start;
    margin: 0px;
}
.title {
    padding: 0px;
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 80px;

}
.subtitle {
    padding: 0px;
    font-size: 24px;
    font-weight: normal;
    color: #808080;
    letter-spacing: -1,9px;
    line-height: 24px;
}

@media screen and (max-width: 1100px) {
    .header {
        width: auto;
        padding: 0px 5% 0px 5%;
    }

    .title {
        font-size: 48px;
        line-height: 48px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 16px;
    }
 }
