
    <app-header title="A little bit about me" subtitle="Who I am and what I do"></app-header>

    <div class="section">
        <app-section title="Who I am" content="I’m Eihab (Pronounced “Ee-hab”) a multi-disciplinary front-end engineer and UI/UX designer based in Rabat, Morocco 🇲🇦."></app-section>
        <app-section title="What I Do" content="With two years of invaluable experience in my role at Harmony Technology –– a tech company based here in Rabat, I have honed my skills in React.js, Next.js, TailwindCSS, and TypeScript, allowing me to craft seamless and interactive user experiences. During my time at Harmony Technology, I had the privilege of collaborating on projects for esteemed clients such as the Ministry of Health, Ministry of Education, and Ministry of Justice. It was an incredibly rewarding experience to develop applications that directly impact the lives of Moroccan citizens."></app-section>
        <app-section title="What I Did" content="Before delving into the realm of front end engineering, I spent five years as a graphic designer. This background has equipped me with a keen eye for aesthetics and a deep understanding of user-centered design principles. It enables me to seamlessly blend functionality and visual appeal in every project I undertake."></app-section>
        <app-section title="What I Did" content="Before delving into the realm of front end engineering, I spent five years as a graphic designer. This background has equipped me with a keen eye for aesthetics and a deep understanding of user-centered design principles. It enables me to seamlessly blend functionality and visual appeal in every project I undertake."></app-section>
    </div>



