<div class="tabbar">
    <button class="tb-btn" [routerLink]="['/home']" [routerLinkActive]="['highlight']">
        <i class="bi bi-house" [routerLinkActive]="['bi-house-fill']"></i>
    </button>
    <button class="tb-btn" [routerLink]="['/about']" [routerLinkActive]="['highlight']">
        <i class="bi bi-person" [routerLinkActive]="['bi-person-fill']"></i>
    </button>
    <button class="tb-btn" [routerLink]="['/projects']" [routerLinkActive]="['highlight']">
        <i class="bi-briefcase bi" [routerLinkActive]="['bi-briefcase-fill']"></i>
    </button>
    <button class="tb-btn" [routerLink]="['/contact']" [routerLinkActive]="['highlight']">
        <i class="bi bi-envelope" [routerLinkActive]="['bi-envelope-fill']"></i>
    </button>
    <button class="tb-btn">
        <i class="bi bi-list"></i>
    </button>
</div>