.tabbar {
    width: 358px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: rgb(24, 24, 29, 0.6);
}

.tb-btn {
    height: 40px;
    width: auto;
    font-size: 24px;
    color: #c5c5c569;
    background: none;
    border: none;
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    line-height: 24px;
}

.tb-btn:hover {
    color: #FFFFFF;
    background-color: rgb(256, 256, 256, 0.1);
}

.highlight {
    color: #FFFFFF;
    background-color: rgb(256, 256, 256, 0.1);
}