<app-header title="Projects" subtitle="Projects and ideas I’ve worked on"></app-header>

<div class="cards-container">
    <app-project-card title="Mag Job –– Your Organization work manager" buttonText="See on GitHub" buttonUrl="https://github.com/KeepIt-Up/MagJob"
        logoUrl="../../../assets/Start.png" photoUrl="../../../assets/laptop-mg.png"
        description="Mag Job is an application supporting work and communication in companies and organizations. 
        Includes features like live chat, dynamic role based authorization, announcements, notifications, tasks and more... 
        Get a look ⬇"></app-project-card>

        <app-project-card title="Structures-Of-Databases" buttonText="See on GitHub" buttonUrl="https://github.com/DamianLaczynski/structures-of-databases"
        photoUrl="../../../assets/st-of-db-1.png"
        description="The implementation of Polyphase Fibonacci Sort and Indexed-Sequential Files Organization presents a dynamic journey into the intricate realm of database operations.
         By delving into these sophisticated algorithms and organizational structures, 
         the primary objective is to cultivate a profound familiarity with the underlying mechanisms driving database functionality. 
         Polyphase Fibonacci Sort, with its ingenious use of Fibonacci numbers to optimize sorting efficiency, offers insights into algorithmic elegance and performance enhancement. 
         Meanwhile, the exploration of Indexed-Sequential Files Organization unveils a strategic approach to data storage and retrieval, 
         fostering an understanding of how databases manage vast amounts of information with efficiency and precision. 
         Through this hands-on endeavor, learners embark on a transformative learning experience, 
         gaining invaluable insights into the intricate world of database management. "></app-project-card>
</div>