<app-header title="Projects" subtitle="Projects and ideas I’ve worked on"></app-header>

<div class="cards-container">
    <app-project-card title="Subbi –– The free subscriptions manager"
    buttonText="See on GitHub"
    buttonUrl="1"
    logoUrl="../../../assets/4T2MshPVSMujloZsFqYos1LYNZmBrCVhVNlN3Mm4noBcfXNBYzXJM2pruHZhEcSi8XnaZq-inIrNJZMr-cxlF7ZQdyc9yrIRnRKR.avif"
        photoUrl="../../../assets/5m6_Td_Iaydlzo_Kw_Y_Bf_NX_5lz_gwiazda_widoczna_na_nocnym_niebie_wybuchla_zjawisko_mozna_latwo_zaobserwowac_1616593349_8678f98006.jpg"
        description="Subbi is a side project that I’ve built to help me keep track of how much I spend on subscriptions and also to prevent the “accidental” bill after a 14-day trail ends. It helps you keep track of bills like Netflix, Spotify, Xbox Game Pass, Bus Card, Bank Cards, and many more."></app-project-card>
</div>