<app-header title="Get in touch" subtitle="Let’s build something awesome."></app-header>

<div class="contact-card">
    <div class="content">
        <div class="avatar">
            <img src="assets/Damian-Laczynski.jpg" />
        </div>
        <div class="column">
            <div class="name">
                Damian<br>Łączyński
            </div>
            <div class="social">
                <a class="nav-btn icon" href="https://www.linkedin.com/in/damianlaczynski" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                <!--<a class="nav-btn icon" href="" target="_blank"><i class="bi bi-twitter-x"></i></a>-->
                <a class="nav-btn icon" href="https://github.com/DamianLaczynski" target="_blank"><i
                        class="bi bi-github"></i></a>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; margin: 10px;">
        <div class="contact">
            <div class=""><i class="bi bi-telephone-outbound-fill"></i></div>
            <div class="">+48 508 465 089</div>
        </div>
        <div class="contact">
            <div class=""><i class="bi bi-envelope-fill"></i></div>
            <div class="">{{email}}</div>
        </div>

    </div>
    <div class="addition" style="width: 70%; margin: 40px; font-weight: 300; color: #b9b9b9; font-size: 18px;">Ready to
        bring innovation to your team! <span class="highlight">Computer science student</span> with a passion for <span
            class="highlight">problem-solving</span> and <span class="highlight">coding</span>. Let's connect and <span
            class="highlight">create something great!</span></div>
</div>