
<div class="tech-stack">
<app-header title="Tech Stack" subtitle="The dev tools and apps I use"></app-header>
<div class="container">
    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/csharp.webp"/></div>
        <div class="header">
            <div class="title">C#</div>
            <div class="tag">Language</div>
        </div>
    </div>
    
    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/angular.png"/></div>
        <div class="header">
            <div class="title">Angular</div>
            <div class="tag">Web Framework</div>
        </div>
    </div>

    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/ts.png"/></div>
        <div class="header">
            <div class="title">TypeScript</div>
            <div class="tag">Language</div>
        </div>
    </div>

    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/postgresql.png"/></div>
        <div class="header">
            <div class="title">PostgreSQL</div>
            <div class="tag">Database</div>
        </div>
    </div>

    <div class="tech-card">
        <div class="icon icon-border"><img src="../../portfolio/assets/aspdotnetcore.png"/></div>
        <div class="header">
            <div class="title">ASP.NET Core</div>
            <div class="tag">Web Framework</div>
        </div>
    </div>

    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/bootstrap.png"/></div>
        <div class="header">
            <div class="title">Bootstrap 5</div>
            <div class="tag">CSS</div>
        </div>
    </div>
    
    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/vscode.png"/></div>
        <div class="header">
            <div class="title">VS Code</div>
            <div class="tag">Editor</div>
        </div>
    </div>
    
    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/github.png"/></div>
        <div class="header">
            <div class="title">GitHub</div>
            <div class="tag">Version Control</div>
        </div>
    </div>
    
    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/Mask group.png"/></div>
        <div class="header">
            <div class="title">Figma</div>
            <div class="tag">Design</div>
        </div>
    </div>

    <div class="tech-card">
        <div class="icon"><img src="../../portfolio/assets/jira.png"/></div>
        <div class="header">
            <div class="title">Jira</div>
            <div class="tag">Project Managment</div>
        </div>
    </div>
</div>
</div>
