<app-header title="Tech Stack" subtitle="The dev tools, apps, devices, and games I use and play."></app-header>
<div class="container">
    <div class="tech-card">
        <div class="icon"><img src="../../assets/Mask group.png"/></div>
        <div class="header">
            <div class="title">Figma</div>
            <div class="tag">Design</div>
        </div>
    </div>
    <div class="tech-card">
        <div class="icon"><img src="../../assets/github.png"/></div>
        <div class="header">
            <div class="title">GitHub</div>
            <div class="tag">Version Control</div>
        </div>
    </div>
    <div class="tech-card">
        <div class="icon"><img src="../../assets/vscode.png"/></div>
        <div class="header">
            <div class="title">VS Code</div>
            <div class="tag">Editor</div>
        </div>
    </div>
    <div class="tech-card">
        <div class="icon"><img src="../../assets/ts.png"/></div>
        <div class="header">
            <div class="title">TypeScript</div>
            <div class="tag">Language</div>
        </div>
    </div>
</div>

