<app-header title="Quick word about me" subtitle="Who I am and what I do"></app-header>

<div class="section">
    <app-section title="Who I am"
        content="I'm Damian Łączyński, a student at Gdańsk University of Technology, originally from a small town. Moving to Gdańsk for my studies has been a pivotal step in my personal and academic growth. My passion for technology and community engagement has been evident since high school when I volunteered in robotics classes for children and actively participated in student council initiatives. My earliest exposure to computer science dates back to my childhood, playing the educational game &quot;Robot Tournament.&quot; Interestingly, I never finished it then. After a few years, the game became unavailable, prompting me to seek out its creator. It turned out that he developed it while studying at the same university where I am currently enrolled. Coincidence? I don't  think so, haha!"></app-section>
    <app-section title="What I Do"
        content="Currently pursuing my studies in Computer Science, I am deeply engaged in exploring the intersection of Web Development and Software Development. Whether it's developing software solutions, tinkering with hardware, or collaborating on innovative projects, I am driven by a relentless curiosity to push the boundaries of what's possible in technology."></app-section>
    <app-section title="What is my motivation"
        content="What fuels my passion for technology and innovation is the profound impact it can have on society. From simplifying everyday tasks to addressing complex global challenges, I believe in the transformative power of technology to create positive change. My motivation stems from a desire to contribute meaningfully to this evolution, to be part of a community that shapes the future through creativity, collaboration, and a relentless pursuit of excellence."></app-section>
</div>
<div style="height: 20px;"></div>

<app-header title="Favourite content" subtitle="What I watch and play"></app-header>
<div class="container">

    <app-card imageSrc="assets/films-and-games/the100.png" title="The 100" tag="Serial"></app-card>
    <app-card imageSrc="assets/films-and-games/reacher.png" title="Reacher" tag="Serial"></app-card>
    <app-card imageSrc="assets/films-and-games/fallout.jpg" title="Fallout" tag="Serial"></app-card>
    <app-card imageSrc="assets/films-and-games/divergent.jpg" title="Divergent" tag="Film Serie"></app-card>
    <app-card imageSrc="assets/films-and-games/freeguy.webp" title="Free Guy" tag="Film"></app-card>
    <app-card imageSrc="assets/films-and-games/playerone.jpg" title="Player One" tag="Film"></app-card>

</div>
<div style="height: 20px;"></div>

<app-header title="Games" subtitle=""></app-header>
<div class="container">

    <app-card imageSrc="assets/films-and-games/92d499d9fc82f775051cd68f34a07f3f.png" title="The Witcher"
        tag="Games Serie"></app-card>
    <app-card imageSrc="assets/films-and-games/ets2-logo.png" title="Euro Track Simulator 2" tag="Game"></app-card>
    <app-card imageSrc="assets/films-and-games/csgo2.webp" title="Counter Strike" tag="Game"></app-card>

</div>
<div style="height: 20px;"></div>

<app-header title="Bartending" subtitle=""></app-header>
<div class="container">

    <app-card imageSrc="assets/drinks/d1.png" title="Bacardi Orange Rum Cocktail" tag="Drink"></app-card>
    <app-card imageSrc="assets/drinks/d2.png" title="Raspberry Bacardi Layered Cocktail" tag="Drink"></app-card>
    <app-card imageSrc="assets/drinks/d3.png" title="Frozen coffee with coffee liqueur" tag="Drink"></app-card>

</div>