.section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 32px;
}

.container {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
}

@media screen and (max-width: 1100px) {
    .container {
        margin: 40px;
        flex-direction: column;
        justify-content: start;
    }
}