.container {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
}

@media screen and (max-width: 1100px) {
    .container {
        margin: 40px;
        justify-content: start;
        align-items: center;
    }

}