.section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 75%;
}

.title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #80808080;
    text-transform: uppercase;
}

.content {
    font-size: 18px;
    line-height: 158%;
    font-weight: normal;
    color: #808080;
    text-wrap: wrap;
}