<div class="page">
    <div class="welcome">
        <h1 class="hello" style="color: #808080">Hi 👋</h1>
        <h1 class="">
            <span style="color: #808080">I’m</span> Damian <br />
            Łączyński
        </h1>
        <p class="">
            As a student ready to step into the IT industry, I bring a <span>tenacious</span> attitude, <span>strong communication</span> skills, and the ability to <span>adapt quickly</span> to any situation. My goal is to gain experience, develop my skills, and make a <span>positive impact in the field</span>.
        </p>
        <div class="buttons-section">
            <a style="text-decoration: none;" href="../../portfolio/assets/Damian_Laczynski_2024.pdf" download="resume-damian-laczynski.pdf"><button
                    class="p-btn primary">See my resume</button>
            </a>
            <button class="p-btn secondary" [routerLink]="['/contact']">
                Get in touch
            </button>
        </div>
    </div>
    <div (click)="angryIncrement()" class="img-container">
    <img [src]="avatarUrl" />
    </div>
</div>